<div class="thm-subheader thm-subheader-fixed">
  <div class="thm-container">
     <div class="thm-subheader-main">
        <h3 class="thm-subheader-title">Users</h3>
        <span class="thm-subheader-separator thm-subheader-separator-v"></span>
        <div class="thm-subheader-toolbar">
           <span class="thm-subheader-desc">450 Total</span>
           <form class="thm-subheader-search">
              <div class="input-group">
                 <input type="text" class="form-control" placeholder="Search...">
                 <div class="input-group-append"> <span class="input-group-text">
                    <i class="flaticon2-search-1"></i>
                    </span>
                 </div>
              </div>
           </form>
        </div>
        <div class="thm-subheader-toolbar thm-hidden">
           <div class="thm-subheader-desc"><span>0</span> Selected:</div>
        </div>
     </div>
     <div class="thm-subheader-toolbar">
        <a href="#" class=""></a> <a href="?page=custom/users/add&amp;demo=demo1" class="btn btn-brand btn-bold">
        Add User                    </a>
     </div>
  </div>
</div>
