@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/placeholders';

@import
  'vendors/bootstrap',
  'vendors/iconFont';

@import
  'base/reset',
  'base/typography';

@import
  'layout/navigation',
  'layout/grid',
  'layout/header',
  'layout/footer',
  'layout/sidebar',
  'layout/forms',
  'layout/page';

@import
  'components/buttons';

@import
  'pages/dashboard';

@import
  'themes/theme';

// * { box-shadow: 0 0 0 1px }
// body { color: red; }
html, body { font-family: 'Poppins', sans-serif; font-size: 13px; font-weight: 300; }
