<div class="thm-aside-brand">
  <div class="thm-aside-brand-logo">
    <a href="#"><img src="./assets/media/images/logo-6.png" alt=""></a>
  </div>
  <div class="thm-aside-brand-tools">
    <button class="thm-aside-panel-toggler">
      <span></span>
    </button>
  </div>
</div>

<div class="thm-aside-menu-wrapper">
  <div class="thm-aside-menu">
    <ul class="thm-menu-nav">
      <ng-container *ngFor="let item of navItems">
        <li class="thm-menu-list-item" *ngIf="item.itemType!='Section'" [item]="item"></li>
        <li class="thm-menu-list-section" *ngIf="item.itemType=='Section'">
          <h4 class="thm-menu-list-section-text">{{item.displayName}}</h4>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="thm-aside-footer">
  <div class="thm-aside-footer-nav">
    <div class="thm-aside-footer-nav-item">
      <a href="#" class="btn btn-icon">
        <i class="icon iconssettings"></i>
      </a>
    </div>
    <div class="thm-aside-footer-nav-item">
      <a href="#" class="btn btn-icon">
        <i class="icon iconsbox"></i>
      </a>
    </div>
    <div class="thm-aside-footer-nav-item">
      <a href="#" class="btn btn-icon">
        <i class="icon iconsbell"></i>
      </a>
    </div>
    <div class="thm-aside-footer-nav-item">
      <a href="#" class="btn btn-icon">
        <i class="icon iconshard-drive"></i>
      </a>
    </div>
    <div class="thm-aside-footer-nav-item">
      <a href="#" class="btn btn-icon">
        <i class="icon iconscalendar"></i>
      </a>
    </div>
  </div>
</div>
